In [42]:
myrowdata = [['cell#','mv','peak'],
            ['fk1',1,2],
            ['fk2',2,25],
            ['fk3',43,-45]]

In [43]:
mycoldata={}

all_col_header = myrowdata[0]

all_col_header

['cell#', 'mv', 'peak']

In [44]:
col_hdr = all_col_header[0]
col_hdr

'cell#'

In [45]:
mycoldata[col_hdr] = []

mycoldata

{'cell#': []}

In [46]:
value_list  = myrowdata[1]
mycoldata[col_hdr].append(value_list[0])
mycoldata

{'cell#': ['fk1']}

In [47]:
value_list = myrowdata[2]
mycoldata[col_hdr].append(value_list[0])
mycoldata

{'cell#': ['fk1', 'fk2']}

In [48]:
value_list = myrowdata[3]
mycoldata[col_hdr].append(value_list[0])
mycoldata

{'cell#': ['fk1', 'fk2', 'fk3']}

In [49]:
col_hdr = all_col_header[1] 
col_hdr

'mv'

In [50]:
mycoldata[col_hdr] = [] 
mycoldata

{'cell#': ['fk1', 'fk2', 'fk3'], 'mv': []}

In [51]:
value_list = myrowdata[1] 
mycoldata[col_hdr].append(value_list[1])
mycoldata

{'cell#': ['fk1', 'fk2', 'fk3'], 'mv': [1]}

In [52]:
value_list = myrowdata[2]
mycoldata[col_hdr].append(value_list[1])
mycoldata

{'cell#': ['fk1', 'fk2', 'fk3'], 'mv': [1, 2]}

In [53]:
value_list = myrowdata[3]
mycoldata[col_hdr].append(value_list[1])
mycoldata

{'cell#': ['fk1', 'fk2', 'fk3'], 'mv': [1, 2, 43]}

In [54]:
col_hdr = all_col_header[2]
col_hdr

'peak'

In [55]:
mycoldata[col_hdr] = []
mycoldata

{'cell#': ['fk1', 'fk2', 'fk3'], 'mv': [1, 2, 43], 'peak': []}

In [56]:
value_list = myrowdata[1]
mycoldata[col_hdr].append(value_list[2])
mycoldata

{'cell#': ['fk1', 'fk2', 'fk3'], 'mv': [1, 2, 43], 'peak': [2]}

In [57]:
value_list = myrowdata[2]
mycoldata[col_hdr].append(value_list[2])
mycoldata

{'cell#': ['fk1', 'fk2', 'fk3'], 'mv': [1, 2, 43], 'peak': [2, 25]}

In [58]:
value_list = myrowdata[3]
mycoldata[col_hdr].append(value_list[2])
mycoldata

{'cell#': ['fk1', 'fk2', 'fk3'], 'mv': [1, 2, 43], 'peak': [2, 25, -45]}

Now we are adding a loop to append the row values to each key of dictionary

In [59]:
mycoldata = {}

In [60]:
col_hdr = all_col_header[2] #peak
mycoldata[col_hdr] = []
for row_index in range(1,4):
    value_list = myrowdata[row_index]
    mycoldata[col_hdr].append(value_list[2])

mycoldata

{'peak': [2, 25, -45]}

In [61]:
col_hdr = all_col_header[1] #mv
mycoldata[col_hdr] = []
for row_index in range(1,4):
    value_list = myrowdata[row_index]
    mycoldata[col_hdr].append(value_list[1])

mycoldata

{'mv': [1, 2, 43], 'peak': [2, 25, -45]}

In [62]:
col_hdr = all_col_header[0] # Cell#
mycoldata[col_hdr] = []
for row_index in range(1,4):
    value_list = myrowdata[row_index]
    mycoldata[col_hdr].append(value_list[0])

mycoldata

{'cell#': ['fk1', 'fk2', 'fk3'], 'mv': [1, 2, 43], 'peak': [2, 25, -45]}

In [63]:
for i in range(1,4):
    print(i)

1
2
3

In [64]:
myrowdata = [['cell#','mv','peak','col4'],
            ['fk1',1,2,8],
            ['fk2',2,25,7],
            ['fk3',43,-45,8],
            ['fk4',33,-4,8]]

def transform_row_to_col(myrowdata):
    
    all_col_header = myrowdata[0] # first row has to be col header (this is a must requirment)
    
    mycoldata = {}
    
    for col_index in range(0, len(all_col_header)):
        col_hdr = all_col_header[col_index] 
        mycoldata[col_hdr] = []
        for row_index in range(1, len(myrowdata)):
            value_list = myrowdata[row_index]
            mycoldata[col_hdr].append(value_list[col_index])
    
    return mycoldata

In [65]:
len(myrowdata)

5

In [66]:
len(all_col_header)

3

In [67]:
from sklearn.datasets import load_iris
from sklearn import tree
import numpy as np
from sklearn.externals.six import StringIO
#import pydot

iris = load_iris();
iris

{'DESCR': 'Iris Plants Database\n\nNotes\n-----\nData Set Characteristics:\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20  0.76     0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThis is a copy of UCI ML iris datasets.\nhttp://archive.ics.uci.edu/ml/datasets/Iris\n\nThe famous Iris database, first used by Sir R.A Fisher\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\nReferences\n----------\n   - Fisher,R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda,R.O., & Hart,P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...\n',
 'data': array([[ 5.1,  3.5,  1.4,  0.2],
        [ 4.9,  3. ,  1.4,  0.2],
        [ 4.7,  3.2,  1.3,  0.2],
        [ 4.6,  3.1,  1.5,  0.2],
        [ 5. ,  3.6,  1.4,  0.2],
        [ 5.4,  3.9,  1.7,  0.4],
        [ 4.6,  3.4,  1.4,  0.3],
        [ 5. ,  3.4,  1.5,  0.2],
        [ 4.4,  2.9,  1.4,  0.2],
        [ 4.9,  3.1,  1.5,  0.1],
        [ 5.4,  3.7,  1.5,  0.2],
        [ 4.8,  3.4,  1.6,  0.2],
        [ 4.8,  3. ,  1.4,  0.1],
        [ 4.3,  3. ,  1.1,  0.1],
        [ 5.8,  4. ,  1.2,  0.2],
        [ 5.7,  4.4,  1.5,  0.4],
        [ 5.4,  3.9,  1.3,  0.4],
        [ 5.1,  3.5,  1.4,  0.3],
        [ 5.7,  3.8,  1.7,  0.3],
        [ 5.1,  3.8,  1.5,  0.3],
        [ 5.4,  3.4,  1.7,  0.2],
        [ 5.1,  3.7,  1.5,  0.4],
        [ 4.6,  3.6,  1. ,  0.2],
        [ 5.1,  3.3,  1.7,  0.5],
        [ 4.8,  3.4,  1.9,  0.2],
        [ 5. ,  3. ,  1.6,  0.2],
        [ 5. ,  3.4,  1.6,  0.4],
        [ 5.2,  3.5,  1.5,  0.2],
        [ 5.2,  3.4,  1.4,  0.2],
        [ 4.7,  3.2,  1.6,  0.2],
        [ 4.8,  3.1,  1.6,  0.2],
        [ 5.4,  3.4,  1.5,  0.4],
        [ 5.2,  4.1,  1.5,  0.1],
        [ 5.5,  4.2,  1.4,  0.2],
        [ 4.9,  3.1,  1.5,  0.1],
        [ 5. ,  3.2,  1.2,  0.2],
        [ 5.5,  3.5,  1.3,  0.2],
        [ 4.9,  3.1,  1.5,  0.1],
        [ 4.4,  3. ,  1.3,  0.2],
        [ 5.1,  3.4,  1.5,  0.2],
        [ 5. ,  3.5,  1.3,  0.3],
        [ 4.5,  2.3,  1.3,  0.3],
        [ 4.4,  3.2,  1.3,  0.2],
        [ 5. ,  3.5,  1.6,  0.6],
        [ 5.1,  3.8,  1.9,  0.4],
        [ 4.8,  3. ,  1.4,  0.3],
        [ 5.1,  3.8,  1.6,  0.2],
        [ 4.6,  3.2,  1.4,  0.2],
        [ 5.3,  3.7,  1.5,  0.2],
        [ 5. ,  3.3,  1.4,  0.2],
        [ 7. ,  3.2,  4.7,  1.4],
        [ 6.4,  3.2,  4.5,  1.5],
        [ 6.9,  3.1,  4.9,  1.5],
        [ 5.5,  2.3,  4. ,  1.3],
        [ 6.5,  2.8,  4.6,  1.5],
        [ 5.7,  2.8,  4.5,  1.3],
        [ 6.3,  3.3,  4.7,  1.6],
        [ 4.9,  2.4,  3.3,  1. ],
        [ 6.6,  2.9,  4.6,  1.3],
        [ 5.2,  2.7,  3.9,  1.4],
        [ 5. ,  2. ,  3.5,  1. ],
        [ 5.9,  3. ,  4.2,  1.5],
        [ 6. ,  2.2,  4. ,  1. ],
        [ 6.1,  2.9,  4.7,  1.4],
        [ 5.6,  2.9,  3.6,  1.3],
        [ 6.7,  3.1,  4.4,  1.4],
        [ 5.6,  3. ,  4.5,  1.5],
        [ 5.8,  2.7,  4.1,  1. ],
        [ 6.2,  2.2,  4.5,  1.5],
        [ 5.6,  2.5,  3.9,  1.1],
        [ 5.9,  3.2,  4.8,  1.8],
        [ 6.1,  2.8,  4. ,  1.3],
        [ 6.3,  2.5,  4.9,  1.5],
        [ 6.1,  2.8,  4.7,  1.2],
        [ 6.4,  2.9,  4.3,  1.3],
        [ 6.6,  3. ,  4.4,  1.4],
        [ 6.8,  2.8,  4.8,  1.4],
        [ 6.7,  3. ,  5. ,  1.7],
        [ 6. ,  2.9,  4.5,  1.5],
        [ 5.7,  2.6,  3.5,  1. ],
        [ 5.5,  2.4,  3.8,  1.1],
        [ 5.5,  2.4,  3.7,  1. ],
        [ 5.8,  2.7,  3.9,  1.2],
        [ 6. ,  2.7,  5.1,  1.6],
        [ 5.4,  3. ,  4.5,  1.5],
        [ 6. ,  3.4,  4.5,  1.6],
        [ 6.7,  3.1,  4.7,  1.5],
        [ 6.3,  2.3,  4.4,  1.3],
        [ 5.6,  3. ,  4.1,  1.3],
        [ 5.5,  2.5,  4. ,  1.3],
        [ 5.5,  2.6,  4.4,  1.2],
        [ 6.1,  3. ,  4.6,  1.4],
        [ 5.8,  2.6,  4. ,  1.2],
        [ 5. ,  2.3,  3.3,  1. ],
        [ 5.6,  2.7,  4.2,  1.3],
        [ 5.7,  3. ,  4.2,  1.2],
        [ 5.7,  2.9,  4.2,  1.3],
        [ 6.2,  2.9,  4.3,  1.3],
        [ 5.1,  2.5,  3. ,  1.1],
        [ 5.7,  2.8,  4.1,  1.3],
        [ 6.3,  3.3,  6. ,  2.5],
        [ 5.8,  2.7,  5.1,  1.9],
        [ 7.1,  3. ,  5.9,  2.1],
        [ 6.3,  2.9,  5.6,  1.8],
        [ 6.5,  3. ,  5.8,  2.2],
        [ 7.6,  3. ,  6.6,  2.1],
        [ 4.9,  2.5,  4.5,  1.7],
        [ 7.3,  2.9,  6.3,  1.8],
        [ 6.7,  2.5,  5.8,  1.8],
        [ 7.2,  3.6,  6.1,  2.5],
        [ 6.5,  3.2,  5.1,  2. ],
        [ 6.4,  2.7,  5.3,  1.9],
        [ 6.8,  3. ,  5.5,  2.1],
        [ 5.7,  2.5,  5. ,  2. ],
        [ 5.8,  2.8,  5.1,  2.4],
        [ 6.4,  3.2,  5.3,  2.3],
        [ 6.5,  3. ,  5.5,  1.8],
        [ 7.7,  3.8,  6.7,  2.2],
        [ 7.7,  2.6,  6.9,  2.3],
        [ 6. ,  2.2,  5. ,  1.5],
        [ 6.9,  3.2,  5.7,  2.3],
        [ 5.6,  2.8,  4.9,  2. ],
        [ 7.7,  2.8,  6.7,  2. ],
        [ 6.3,  2.7,  4.9,  1.8],
        [ 6.7,  3.3,  5.7,  2.1],
        [ 7.2,  3.2,  6. ,  1.8],
        [ 6.2,  2.8,  4.8,  1.8],
        [ 6.1,  3. ,  4.9,  1.8],
        [ 6.4,  2.8,  5.6,  2.1],
        [ 7.2,  3. ,  5.8,  1.6],
        [ 7.4,  2.8,  6.1,  1.9],
        [ 7.9,  3.8,  6.4,  2. ],
        [ 6.4,  2.8,  5.6,  2.2],
        [ 6.3,  2.8,  5.1,  1.5],
        [ 6.1,  2.6,  5.6,  1.4],
        [ 7.7,  3. ,  6.1,  2.3],
        [ 6.3,  3.4,  5.6,  2.4],
        [ 6.4,  3.1,  5.5,  1.8],
        [ 6. ,  3. ,  4.8,  1.8],
        [ 6.9,  3.1,  5.4,  2.1],
        [ 6.7,  3.1,  5.6,  2.4],
        [ 6.9,  3.1,  5.1,  2.3],
        [ 5.8,  2.7,  5.1,  1.9],
        [ 6.8,  3.2,  5.9,  2.3],
        [ 6.7,  3.3,  5.7,  2.5],
        [ 6.7,  3. ,  5.2,  2.3],
        [ 6.3,  2.5,  5. ,  1.9],
        [ 6.5,  3. ,  5.2,  2. ],
        [ 6.2,  3.4,  5.4,  2.3],
        [ 5.9,  3. ,  5.1,  1.8]]),
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'target_names': array(['setosa', 'versicolor', 'virginica'],
       dtype='<U10')}

In [68]:
myrowdata

[['cell#', 'mv', 'peak', 'col4'],
 ['fk1', 1, 2, 8],
 ['fk2', 2, 25, 7],
 ['fk3', 43, -45, 8],
 ['fk4', 33, -4, 8]]

In [69]:
myetd =[]
myerow = []
mycurrentrow = myrowdata[1]
myerow.append(mycurrentrow[1])
myerow.append(mycurrentrow[2])
myerow.append(mycurrentrow[3])

myetd.append(myerow)

myetd

[[1, 2, 8]]

In [70]:
myerow = []
mycurrentrow = myrowdata[2]
myerow.append(mycurrentrow[1])
myerow.append(mycurrentrow[2])
myerow.append(mycurrentrow[3])

myetd.append(myerow)

myetd

[[1, 2, 8], [2, 25, 7]]

In [71]:
myerow = []
mycurrentrow = myrowdata[3]
myerow.append(mycurrentrow[1])
myerow.append(mycurrentrow[2])
myerow.append(mycurrentrow[3])

myetd.append(myerow)

myetd

[[1, 2, 8], [2, 25, 7], [43, -45, 8]]

In [72]:
myetd =[]
myerow = []
mycurrentrow = myrowdata[1]

for col_index in range(1,len(mycurrentrow)):
    myerow.append(mycurrentrow[col_index])

myetd.append(myerow)

myetd

[[1, 2, 8]]

In [73]:
myerow = []
mycurrentrow = myrowdata[2]

for col_index in range(1,len(mycurrentrow)):
    myerow.append(mycurrentrow[col_index])

myetd.append(myerow)

myetd

[[1, 2, 8], [2, 25, 7]]

In [74]:
myerow = []
mycurrentrow = myrowdata[3]

for col_index in range(1,len(mycurrentrow)):
    myerow.append(mycurrentrow[col_index])

myetd.append(myerow)

myetd

[[1, 2, 8], [2, 25, 7], [43, -45, 8]]

In [75]:

myetd = []
for row_index in range(1,len(myrowdata)):
    myerow = []
    mycurrentrow = myrowdata[row_index]

    for col_index in range(1,len(mycurrentrow)):
        myerow.append(mycurrentrow[col_index])

    myetd.append(myerow)

myetd

[[1, 2, 8], [2, 25, 7], [43, -45, 8], [33, -4, 8]]

In [76]:
start_col = 2
myetd = []
for row_index in range(1,len(myrowdata)):
    myerow = []
    mycurrentrow = myrowdata[row_index]

    for col_index in range(start_col,len(mycurrentrow)):
        myerow.append(mycurrentrow[col_index])

    myetd.append(myerow)

myetd

[[2, 8], [25, 7], [-45, 8], [-4, 8]]

In [77]:
col_filter_list = [1,2,3]
myetd = []
for row_index in range(1,len(myrowdata)):
    myerow = []
    mycurrentrow = myrowdata[row_index]

    for col_index in col_filter_list:
        myerow.append(mycurrentrow[col_index])

    myetd.append(myerow)

myetd

[[1, 2, 8], [2, 25, 7], [43, -45, 8], [33, -4, 8]]

In [81]:
myrowdata
row_filter_list = range(1,len(myrowdata)) 
col_filter_list = [1,2,3]



myetd = []
for row_index in row_filter_list:
    myerow = []
    mycurrentrow = myrowdata[row_index]

    for col_index in col_filter_list:
        myerow.append(mycurrentrow[col_index])

    myetd.append(myerow)

myetd

[[1, 2, 8], [2, 25, 7], [43, -45, 8], [33, -4, 8]]

In [83]:
myrowdata

[['cell#', 'mv', 'peak', 'col4'],
 ['fk1', 1, 2, 8],
 ['fk2', 2, 25, 7],
 ['fk3', 43, -45, 8],
 ['fk4', 33, -4, 8]]